<div class="game-play-info answer">
    <span *ngIf="answer.answer">Pokazujesz hasło: <b>{{ answer.answer }}</b></span>
    <span *ngIf="answer.player">Hasło pokazuje: <b>{{ answer.player }}</b></span>
  </div>
<div id="imagoChat">
  <div id="chatWindow">
      <div id="output">
        <p *ngFor="let chatMessage of chat">
          <b>{{ chatMessage.user }}</b>: {{ chatMessage.message }}
        </p>
      </div>
      <div *ngIf="isTyping != ''" id="feedback">{{ isTyping }} pisze wiadomość...</div>
  </div>
  <input id="message" type="text" placeholder="Wiadomość" #message (keypress)="typing()" (blur)="notTyping()"/>
  <button id="send" (click)="sendMessage(message.value); message.value=''">wyślij</button><br>
</div>