//Font color
$light-font-color:rgb(255, 255, 255);
$dark-font-color: rgb(85, 85, 85);
$err-font-color: rgb(212, 0, 0);

//Background color
$light-bg-color: rgb(226, 243, 255);
$light-gray-bg-color: rgb(249, 249, 249);
$medium-bg-color: rgb(63, 182, 226);
$dark-bg-color: rgb(33, 39, 151);
$alpha-bg-color: rgba(2, 11, 34, 0.85);
$button-bg-color: rgb(87, 94, 216);
$button-disabled-bg-color: rgb(152, 152, 156);
$input-bg-color: rgb(238, 238, 238);

//Border color
$border-color: rgba(0, 0, 0, 0.05);
$gray-border-color: rgb(221, 221, 221);