body{
    font-family: Tahoma;
    margin: 0;
    padding: 0;
  }
  
  #wrapper, #game, #newTable{
    margin: 0 auto;
    padding: 0;
  }
  
  #home, #auth{
    margin: 0 auto;
    padding: 0;
    width: 30%;
    min-width: 300px;
    text-align: center;
  }
  
  form{
    margin: 10px 0;
    padding: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  #enter{
    margin: 0 auto;
    padding: 20vh 0 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: #041030;
    color: #fff;
  }
  
  #game{
    position: absolute;
    width: 100%;
  }
  
  #newGame, #win{
    margin: 0;
    padding: 10vh 20% 5vh;
    width: 60%;
    height: 85vh;
    position: fixed;
    z-index: 100;
    background-color: rgba(2, 11, 34, 0.85);
    color: #fff;
    text-align: center;
  }
  #newGame ul{
    margin: 20px auto;
    padding: 0;
    list-style: none;
  }
  #newGame li{
    list-style: none;
    margin: 5px 0;
    padding: 0;
  }
  
  #win{
    display: none;
  }
  
  #navbar{
    width: 100%;
    background: #575ed8;
    color: #fff;
    margin: 0 auto;
    padding: 0;
    position: fixed;
    top: 0;
  }
   #nav{
     margin: 0;
     padding: 0;
   }
  
  #gameTitle{
    margin: 10px 0;
    padding: 0;
    display: block;
    width: calc(100% - 200px);
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  
  #table{
    width: 800px;
    height: 85vh;
    margin: 70px 10px 20px 20px;
    padding: 0;
    float: left;
    border: 1px solid #ddd;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.05);
    background: #f9f9f9;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  #imagoChat{
    min-width: 300px;
    width: calc(100% - 870px); 
    margin: 70px 20px 20px 10px;
    padding: 0;
    border: 1px solid #ddd;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
    height: 80vh;
    float: right;
  }
  
  #chatWindow{
    height: calc(85vh - 85px);
    background: #f9f9f9;
    overflow-y: scroll;
  }
  
  #output p{
    padding: 14px 0px; 
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
  }
  
  label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
  }
  
  input{
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Tahoma;
    font-size: 16px;
  }
  
  #feedback{
    text-align: center;;
  }
  
  #turn{
    padding: 10px 20px;
    text-align: center;
    border-bottom: rgba(0,0,0,0.05) 1px solid;
  }
  
  button{
    background: #575ed8;
    color: #fff;
    font-size: 18px;
    border: 0;
    margin: 0;
    padding: 12px;
    border-radius: 0 0 2px 2px;
  }
  
  button:hover{
    background: #212797 !important;
    cursor: pointer;
  }
  
  #login, #signup, #send{
    width: 100%;
  }
  
  .enterGame{
    width: 150px;
    margin: 10px 0;
  }
  #buttons{
    width: 200px;
    margin: 0;
    padding: 0;
    float: right;
  }
  #pauseGame, #endGame{
    width: 100px;
    height: 50px;
    float: left;
  }
  
  #toggleNav{
    padding: 12px;
    display: none;
    font-size: 20px;
  }
  
  .err{
    color: rgb(212, 0, 0);
  }
  
  button:disabled{
    background: #98989c;
    pointer-events: none;
  }
  
  @media screen and (max-width: 1200px){
    #table{
      float: none;
      margin: 70px auto 20px;
    }
  
    #imagoChat{
      width: 70%;
      float: none;
      margin: 0 auto 20px;
    } 
  
    #table{
      height: 700px;
      overflow: hidden;
    }
  
    #chatWindow{
      overflow: auto;
    }
  }
  
  @media screen and (max-width: 430px){
    
    #buttons, #gameTitle, #pauseGame, #endGame{
      float: none;
      width: 100%;
    }
    #toggleNav{
      display: block;
      float: right;
    }
  
    .hide{
      display: none;
    }
    .show{
      display: block;
    }
  
  }