<div id="home">

  <div id="navbar">
    <span id="nav-title" class="hide">Kalambury obrazkowe</span>														
  </div>

  <h1>Kalambury obrazkowe</h1>
  <h2>Zagraj z przyjaciółmi!</h2>
  <p *ngIf="err" class="err">Błąd. {{ err }}</p>

  <div id="auth">
    <button (click)="display('login')" class="auth-button" [ngClass]="{'active-button': showLogin}">Zaloguj się</button>
    <button (click)="display('signup')" class="auth-button" [ngClass]="{'active-button': !showLogin}">Zarejestruj się</button>
    <app-login *ngIf="showLogin"></app-login>
    <app-signup *ngIf="!showLogin"></app-signup>
  </div>

</div>
